<html>
    <head>
    <title>Wires - Apply for Beta</title>
    <link rel="stylesheet" href="./resources/beta.css" />
    </head>
    
    <body>
        <img src="./resources/logo.svg" id="logo" class="center" />
        <div id="tagline" class="center">
            Wires listens for breaking news headlines.
        </div>
        
        <br/><br/>
        
        <div class="center">
            <form method="post" action="https://docs.google.com/forms/d/1C3xa3w-ezcNoaZ37YknW0KXUmualGlyz-PLGWRfF-Tc/formResponse" id="ss-form" target="_self" onsubmit="">
                <input type="hidden" name="draftResponse" value="[,,&quot;2071438055399813403&quot;]">
                <input type="hidden" name="pageHistory" value="0">
                <input type="hidden" name="fbzx" value="2071438055399813403">
                
                <input type="email" name="entry.1103607415" id="entry_1103607415" value="" placeholder="Apply for Beta" aria-required="true" dir="auto" aria-label="Email  " />
                <input type="submit" name="submit" value="Go" id="ss-submit" class="jfk-button jfk-button-action " />
            </form>
        </div>
        
        <br/><br/>
        
        <div id="tagline" class="center">
            Coming Soon.
        </div>
        
        <div id="iphone-screenshot" class="screenshot"></div>
        <div id="watch-screenshot" class="screenshot"></div>
    </body>
</html>